<a href="https://colab.research.google.com/github/NahataiTep/DPDM65/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [1]:
import pandas # import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [2]:
import pandas as pd # โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

import ใช้แบบไหนก็ได้ เลือกมาหนึ่งอัน (แต่ตอนนี้มักนิยมใช้อันล่าง เพื่อย่อคำสั่งให้สั้นๆ)

การเรียกใช้คำสั่งใน package จะพิมพ์ชื่อเต็มหรือชื่อใหม่ ขึ้นอยู่กับว่าเขียน import แบบไหน

ไฟล์ .CSV (comma separated values)

In [5]:
data_df = pd.read_csv('data.csv')

In [6]:
data_df

   car_id         model   year   value   person_id
0     101       bentley   1973  100000           1
1     102   rolls royce   1965  330000           1

In [9]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id         model   year   value   person_id
0     101       bentley   1973  100000           1
1     102   rolls royce   1965  330000           1

การเขียนคำสั่ง จะแยกหรือทำหลายบรรทัดใน box เดียวก็ได้

ถ้าทำหลายบรรทัดใน box เดียว การรันก็จะไล่ทีละบรรทัดจากบนลงล่าง

ถ้าทำคนละ box การรันขึ้นอยู่กับว่าจะกดรัน box ไหนก่อน โดยจะขึ้นเป็นลำดับตัวเลข

pd.read_csv('---.csv') : จาก package pandas ใช้คำสั่ง read.csv ในการเปิดไฟล์ที่ชื่อว่า ---.csv