<a href="https://colab.research.google.com/github/NahataiTep/DPDM65/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [1]:
import pandas # import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [2]:
import pandas as pd # โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

import ใช้แบบไหนก็ได้ เลือกมาหนึ่งอัน (แต่ตอนนี้มักนิยมใช้อันล่าง เพื่อย่อคำสั่งให้สั้นๆ)

การเรียกใช้คำสั่งใน package จะพิมพ์ชื่อเต็มหรือชื่อใหม่ ขึ้นอยู่กับว่าเขียน import แบบไหน

ไฟล์ .CSV (comma separated values)

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

   car_id        \tmodel  \tyear  \tvalue  \tperson_id
0     101      \tbentley    1973   100000            1
1     102  \trolls royce    1965   330000            1

In [5]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id        \tmodel  \tyear  \tvalue  \tperson_id
0     101      \tbentley    1973   100000            1
1     102  \trolls royce    1965   330000            1

การเขียนคำสั่ง จะแยกหรือทำหลายบรรทัดใน box เดียวก็ได้

ถ้าทำหลายบรรทัดใน box เดียว การรันก็จะไล่ทีละบรรทัดจากบนลงล่าง

ถ้าทำคนละ box การรันขึ้นอยู่กับว่าจะกดรัน box ไหนก่อน โดยจะขึ้นเป็นลำดับตัวเลข

pd.read_csv('---.csv') : จาก package pandas ใช้คำสั่ง read.csv ในการเปิดไฟล์ที่ชื่อว่า ---.csv

***

# Basic Python

## Variable

ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. พิมพ์เล็กกับพิมพ์ใหญ่แตกต่างกัน
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12                               #ตัวอย่างการตั้งตัวแปร โดยตัวแปรนั้นจะเป็นประเภทไหนก็ได้: int, float, str, etc.
variable_b = 3.14
variable_c = 'A'    # ' (quote) หรือ " (double quote) เป็นการเก็บค่า string: ตัวอักษร
variable_d = 'MSc Stat KKU'

In [7]:
variable_e = '11'

In [8]:
variable a = 12  #ข้อกำหนดข้อ 1 : เว้นวรรคแล้วจะใช้ไม่ได้

SyntaxError: ignored

In [9]:
ตัวแปรเอ = 12  #ข้อกำหนดข้อ 2 : ใช้ภาษาไทยได้ แต่พยายามใช้อังกฤษดีกว่า

In [10]:
ตัวแปรเอ

12

In [11]:
Cat = 1   #ข้อกำหนดข้อ 3 : แยกดีๆ พิมพ์เล็กพิมพ์ใหญ่
cat = 2

In [12]:
Cat

1

In [13]:
cat1 = 2
cat1

2

In [14]:
1cat = 2   #ข้อกำหนดข้อ 4 : ตัวเลขอยู่ข้างหน้าสุดไม่ได้

SyntaxError: ignored

เมื่อเขียนตัวแปร เช่น variable_a = 12 หลังจากรันจะไม่มีการแสดงผล (ผลลัพธ์ถูกเก็บใน memory ของโปรแกรม)

ถ้าอยากให้แสดง ต้องใช้คำสั่ง print(variable_a) [[ แต่ใน colab สามารถเขียนแค่ variable_a ได้ ]]

In [15]:
print(cat1)

2

In [16]:
variable_x = variable_a + variable_b

In [17]:
variable_x

15.14

In [18]:
variable_a + variable_b       # อยากได้ผลบวกเฉยๆ เขียนแบบนี้ก็ได้ แต่จะนำไปใช้ต่อไม่ได้ เพราะไม่มีตัวแปรมาเก็บค่า

15.14

In [19]:
variable_x = variable_a + variable_b + 5
print(variable_x)

20.14

In [20]:
variable_z = variable_a
print(variable_z)

12

In [21]:
variable_a = variable_a + 3

print(variable_a)
print(variable_z)

15
12

In [22]:
variable_a + variable_e   # ไม่สามารถบวก ตัวเลข กับ ตัวอักษร ได้ !

TypeError: ignored

In [23]:
variable_e + variable_a   # ไม่สามารถเอาตัวเลขมาต่อตัวอักษรได้

TypeError: ignored

เวลาเช็ก error มักจะอ่านจากบรรทัดสุดท้าย (TypeError)

In [25]:
variable_c + variable_d   # str ต่อกับ str ได้ โดยจะนำตัวอักษรมาต่อกัน (ไม่มีเว้นวรรค)

'AMSc Stat KKU'

** Casting int() float() str()

คือ คำสั่งเปลี่ยนชนิดของตัวแปร

In [26]:
variable_a + int(variable_e)

26

In [27]:
variable_e + str(variable_a)

'1115'

In [28]:
variable_e                  # แสดงให้เห็นว่าสิ่งที่เก็บใน memory มีหน้าตาเป็นยังไง

'11'

In [29]:
print(variable_e)         # แสดงค่าออกมาให้ดู -> ไม่รู้ว่าตัวแปรเป็นประเภทอะไร

11

** type()

คือ คำสั่งตรวจสอบชนิดของตัวแปร

In [30]:
type(variable_a)

int

In [31]:
type(variable_e)

str

## Data Structure

### list 
: การเอาตัวแปรมาผูกต่อกันไปเรื่อยๆ

: สนใจลำดับ

: สร้างโดยการใส่ square brackets [ ]

In [32]:
list_a = [1, 2, 3, 0.9, 'aaz', variable_b]

In [33]:
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

indexing: การชี้ตัวที่อยู่ใน list สามารถเขียนได้ทั้งนับจากด้านหน้าและด้านหลัง 
1. index: นับจากด้านหน้า ตัวแรกจะเป็นลำดับที่ 0 > 1 > ...
2. negative index: นับจากด้านหลัง ตัวสุดท้ายจะเป็นลำดับที่ -1 < -2 < ...

In [34]:
list_a[5]

3.14

In [35]:
list_a[0]

1

In [36]:
list_a[-2]

'aaz'

In [37]:
list_b = ['pizza', list_a]      # list จะเก็บค่าอะไรก็ได้
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [38]:
list_b[1][3]                      # การชี้ index ของ list ซ้อน list ให้ใส่ [] ซ้อนไปเรื่อยๆ

0.9

string คือ list ของตัวอักษร

In [39]:
x = 'shabu'
x[3]

'b'

In [40]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [41]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

***
การสร้าง list ( ในกรณีที่ list ยาว การสร้างจะซับซ้อนกว่าใส่แค่ [ ] )
1. สร้าง list ว่าง : กำหนดตัวแปร = [ ]  /  กำหนดตัวแปร = list( )
2. เพิ่มสมาชิกลงไปใน list

1. การสร้าง list ว่าง

In [42]:
list_aa = []
list_aa

[]

In [43]:
list_bb = list()
print(list_bb)

[]

2. การเพิ่มสมาชิกลงไปใน list ( .append( ) )

In [44]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [45]:
list_aa

['chiken', 'water', 'vegetable']

In [46]:
list_aa[-1]

'vegetable'

In [47]:
list_aa.append('plate')

In [48]:
list_aa[-2]

'vegetable'

### list slicing

: (colon)

ตัด list มาเฉพาะส่วนที่ต้องการ โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเขียนตามสัญลักษณ์คณิตศาสตร์ จะได้เป็น [ตัวหน้า:ตัวหลัง)

In [49]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [50]:
list_aa[1:3]        # ตัด list_aa จากตัวที่ 1 ถึงตัวก่อนตัวที่ 3 (= ตัวที่ 2)

['water', 'vegetable']

***
Quiz 1

 ตัดส่วนของ list ต่อไปนี้ จาก list_aa
 1. 'iken'
 2. 'get'
 3. 'tab'

In [52]:
# ข้อ 1
list_aa[0][2:6]

'iken'

In [54]:
# ข้อ 2
list_aa[2][2:5]

'get'

In [56]:
# ข้อ 3
list_aa[2][4:7]

'tab'