<a href="https://colab.research.google.com/github/NahataiTep/DPDM65/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [ ]:
import pandas # import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [ ]:
import pandas as pd # โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

import ใช้แบบไหนก็ได้ เลือกมาหนึ่งอัน (แต่ตอนนี้มักนิยมใช้อันล่าง เพื่อย่อคำสั่งให้สั้นๆ)

การเรียกใช้คำสั่งใน package จะพิมพ์ชื่อเต็มหรือชื่อใหม่ ขึ้นอยู่กับว่าเขียน import แบบไหน

ไฟล์ .CSV (comma separated values)

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

   car_id        \tmodel  \tyear  \tvalue  \tperson_id
0     101      \tbentley    1973   100000            1
1     102  \trolls royce    1965   330000            1

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id        \tmodel  \tyear  \tvalue  \tperson_id
0     101      \tbentley    1973   100000            1
1     102  \trolls royce    1965   330000            1

การเขียนคำสั่ง จะแยกหรือทำหลายบรรทัดใน box เดียวก็ได้

ถ้าทำหลายบรรทัดใน box เดียว การรันก็จะไล่ทีละบรรทัดจากบนลงล่าง

ถ้าทำคนละ box การรันขึ้นอยู่กับว่าจะกดรัน box ไหนก่อน โดยจะขึ้นเป็นลำดับตัวเลข

pd.read_csv('---.csv') : จาก package pandas ใช้คำสั่ง read.csv ในการเปิดไฟล์ที่ชื่อว่า ---.csv

***

# Basic Python

## Variable

ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. พิมพ์เล็กกับพิมพ์ใหญ่แตกต่างกัน
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12                               #ตัวอย่างการตั้งตัวแปร โดยตัวแปรนั้นจะเป็นประเภทไหนก็ได้: int, float, str, etc.
variable_b = 3.14
variable_c = 'A'    # ' (quote) หรือ " (double quote) เป็นการเก็บค่า string: ตัวอักษร
variable_d = 'MSc Stat KKU'

In [ ]:
variable_e = '11'

In [ ]:
variable a = 12  #ข้อกำหนดข้อ 1 : เว้นวรรคแล้วจะใช้ไม่ได้

SyntaxError: ignored

In [ ]:
ตัวแปรเอ = 12  #ข้อกำหนดข้อ 2 : ใช้ภาษาไทยได้ แต่พยายามใช้อังกฤษดีกว่า

In [ ]:
ตัวแปรเอ

12

In [ ]:
Cat = 1   #ข้อกำหนดข้อ 3 : แยกดีๆ พิมพ์เล็กพิมพ์ใหญ่
cat = 2

In [ ]:
Cat

1

In [ ]:
cat1 = 2
cat1

2

In [ ]:
1cat = 2   #ข้อกำหนดข้อ 4 : ตัวเลขอยู่ข้างหน้าสุดไม่ได้

SyntaxError: ignored

เมื่อเขียนตัวแปร เช่น variable_a = 12 หลังจากรันจะไม่มีการแสดงผล (ผลลัพธ์ถูกเก็บใน memory ของโปรแกรม)

ถ้าอยากให้แสดง ต้องใช้คำสั่ง print(variable_a) [[ แต่ใน colab สามารถเขียนแค่ variable_a ได้ ]]

In [ ]:
print(cat1)

2

In [ ]:
variable_x = variable_a + variable_b

In [ ]:
variable_x

15.14

In [ ]:
variable_a + variable_b       # อยากได้ผลบวกเฉยๆ เขียนแบบนี้ก็ได้ แต่จะนำไปใช้ต่อไม่ได้ เพราะไม่มีตัวแปรมาเก็บค่า

15.14

In [ ]:
variable_x = variable_a + variable_b + 5
print(variable_x)

20.14

In [ ]:
variable_z = variable_a
print(variable_z)

12

In [ ]:
variable_a = variable_a + 3

print(variable_a)
print(variable_z)

15
12

In [ ]:
variable_a + variable_e   # ไม่สามารถบวก ตัวเลข กับ ตัวอักษร ได้ !

TypeError: ignored

In [ ]:
variable_e + variable_a   # ไม่สามารถเอาตัวเลขมาต่อตัวอักษรได้

TypeError: ignored

เวลาเช็ก error มักจะอ่านจากบรรทัดสุดท้าย (TypeError)

In [ ]:
variable_c + variable_d   # str ต่อกับ str ได้ โดยจะนำตัวอักษรมาต่อกัน (ไม่มีเว้นวรรค)

'AMSc Stat KKU'

** Casting int() float() str()

คือ คำสั่งเปลี่ยนชนิดของตัวแปร

In [ ]:
variable_a + int(variable_e)

26

In [ ]:
variable_e + str(variable_a)

'1115'

In [ ]:
variable_e                  # แสดงให้เห็นว่าสิ่งที่เก็บใน memory มีหน้าตาเป็นยังไง

'11'

In [ ]:
print(variable_e)         # แสดงค่าออกมาให้ดู -> ไม่รู้ว่าตัวแปรเป็นประเภทอะไร

11

** type()

คือ คำสั่งตรวจสอบชนิดของตัวแปร

In [ ]:
type(variable_a)

int

In [ ]:
type(variable_e)

str

## Data Structure

### List 
: การเอาตัวแปรมาผูกต่อกันไปเรื่อยๆ

: สนใจลำดับ

: สร้างโดยการใส่ square brackets [ ]

In [ ]:
list_a = [1, 2, 3, 0.9, 'aaz', variable_b]

In [ ]:
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

indexing: การชี้ตัวที่อยู่ใน list สามารถเขียนได้ทั้งนับจากด้านหน้าและด้านหลัง 
1. index: นับจากด้านหน้า ตัวแรกจะเป็นลำดับที่ 0 > 1 > ...
2. negative index: นับจากด้านหลัง ตัวสุดท้ายจะเป็นลำดับที่ -1 < -2 < ...

In [ ]:
list_a[5]

3.14

In [ ]:
list_a[0]

1

In [ ]:
list_a[-2]

'aaz'

In [ ]:
list_b = ['pizza', list_a]      # list จะเก็บค่าอะไรก็ได้
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [ ]:
list_b[1][3]                      # การชี้ index ของ list ซ้อน list ให้ใส่ [] ซ้อนไปเรื่อยๆ

0.9

string คือ list ของตัวอักษร

In [ ]:
x = 'shabu'
x[3]

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [ ]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

การสร้าง list ( ในกรณีที่ list ยาว การสร้างจะซับซ้อนกว่าใส่แค่ [ ] )
1. สร้าง list ว่าง : กำหนดตัวแปร = [ ]  /  กำหนดตัวแปร = list( )
2. เพิ่มสมาชิกลงไปใน list

1 การสร้าง list ว่าง

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list()
print(list_bb)

[]

2 การเพิ่มสมาชิกลงไปใน list ( .append( ) )

In [ ]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [ ]:
list_aa

['chiken', 'water', 'vegetable']

In [ ]:
list_aa[-1]

'vegetable'

In [ ]:
list_aa.append('plate')

In [ ]:
list_aa[-2]

'vegetable'

### List slicing

: (colon)

ตัด list มาเฉพาะส่วนที่ต้องการ โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเขียนตามสัญลักษณ์คณิตศาสตร์ จะได้เป็น [ตัวหน้า:ตัวหลัง)

In [ ]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [ ]:
list_aa[1:3]        # ตัด list_aa จากตัวที่ 1 ถึงตัวก่อนตัวที่ 3 (= ตัวที่ 2)

['water', 'vegetable']

***


Quiz 1

 ตัดส่วนของ list ต่อไปนี้ จาก list_aa
 1. 'iken'
 2. 'get'
 3. 'tab'

In [ ]:
# ข้อ 1
list_aa[0][2:6]

'iken'

In [ ]:
# ข้อ 2
list_aa[2][2:5]

'get'

In [ ]:
# ข้อ 3
list_aa[2][4:7]

'tab'

***

ถ้าเขียนลำดับ 

[:]  -> แปลว่า เอาทุกตัว

[:xx]  -> แปลว่า เลือกตั้งแต่ตัวแรก ถึงตัวก่อน xx

[xx:]  -> แปลว่า เลือกตั้งแต่ตัวที่ xx ถึงตัวสุดท้าย

In [ ]:
list_aa[-1][:]

'plate'

In [ ]:
list_aa[-1][:3]

'pla'

In [ ]:
list_aa[-1][3:]

'te'

***
***

### Advance list slicing

:: (ใช้ colon 2 ตัว ในการกำหนดว่าจะตัด list ตรงไหน)

จะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง:step]

In [ ]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [ ]:
list_aa[2][::]

'vegetable'

In [ ]:
list_aa[2][::2]   #เริ่มจากด้านหน้า ข้ามไปทีละ 2 ตัว

'vgtbe'

In [ ]:
list_aa[2][::-1]    #เริ่มจากด้านหลัง

'elbategev'

In [ ]:
list_aa[2][::-3]    #เริ่มจากด้านหลัง ข้ามไปที่ละ 3 ตัว

'eag'

format string
`f'string{variable}'`

คือ การที่จัดการ string โดยใช้ตัวแปรที่มีค่าอยู่แล้วมาแทรกใน string

{} = curly brackets

In [ ]:
f' I like to eat {list_aa[2]} '

' I like to eat vegetable '

In [ ]:
f' 9 x 10 = {9*10} '

' 9 x 10 = 90 '

## Loop (for)

การทำงานที่ซ้ำๆ กัน หรือ ทำงานที่คล้ายกันหลายๆ รอบ


```
for ตัวแปรที่เราจะรับค่าจากลิสต์ in ลิสต์ที่ต้องการจะวนลูป :
    do something
    do another thing
    สิ่งที่อยู่ในลูป จะมีการ indent เข้ามาเสมอ

this is outside the loop
```

### ทำงานซ้ำๆ กัน

ใน loop ทำซ้ำทั้งหมด i รอบ แต่ไม่มีการใช้ i ด้านใน

In [ ]:
for i in list_aa:
    print('Ha')

Ha
Ha
Ha
Ha

### ทำงานคล้ายๆ กัน

แต่ละรอบขึ้นอยู่กับ i (มีการเปลี่ยนแปลงไปตาม i)

In [ ]:
for i in list_aa:
    print(f' now i is {i} ')
    print(f' I like to eat {i} ')

 now i is chiken
 I like to eat chiken
 now i is water
 I like to eat water
 now i is vegetable
 I like to eat vegetable
 now i is plate
 I like to eat plate

!! ลิสต์ไม่จำเป็นต้องมีอยู่แล้ว จะสร้างขึ้นมาใหม่เพื่อใช้ใน loop โดยเฉพาะเลยก็ได้ !!

In [ ]:
for x in [1,3,5,7,9] :
    print(f' this x = {x}, x/2 = {x/2} ')

 this x = 1, x/2 = 0.5
 this x = 3, x/2 = 1.5
 this x = 5, x/2 = 2.5
 this x = 7, x/2 = 3.5
 this x = 9, x/2 = 4.5



```
range(x)
```
คือคำสั่งสร้าง list ของตัวเลข เริ่มจาก 0 ถึง x-1  (มีทั้งหมด x ตัว)

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))     # โชว์ว่า range ที่สร้างคืออะไร

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10) :
    print(f'Ha{i}')

Ha0
Ha1
Ha2
Ha3
Ha4
Ha5
Ha6
Ha7
Ha8
Ha9

In [ ]:
 for i in range(10) :
    print(f'Ha{i}', end='')    # คำสั่ง end เป็นการบอกว่าไม่ให้เว้นบรรทัด โดยเลือกได้ว่าจะมีการเว้นวรรคระหว่างตัวหรือไม่

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9

In [ ]:
 for i in range(10) :
    print(f'Ha{i}', end='  ')

Ha0  Ha1  Ha2  Ha3  Ha4  Ha5  Ha6  Ha7  Ha8  Ha9

In [ ]:
list(range(5,10))     # สร้าง list ของตัวเลข เริ่มต้นจาก 5 ถึงน้อยกว่า 10 (= ถึง 9)

[5, 6, 7, 8, 9]

In [ ]:
list(range(5,100,5))         # สร้าง list ของตัวเลข เริ่มต้นจาก 5 ถึงน้อยกว่า 100 (= ถึง 99) โดยข้าม step ทีละ 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### Nested loop

loop ซ้อน loop

In [ ]:
for i in range(3) :
    #print(f' i = {i} ')
    for j in range(2) :
        #print(f' j = {j} ')
        print(f' i = {i}, j = {j}, i+j = {i+j} ')

 i = 0, j = 0, i+j = 0
 i = 0, j = 1, i+j = 1
 i = 1, j = 0, i+j = 1
 i = 1, j = 1, i+j = 2
 i = 2, j = 0, i+j = 2
 i = 2, j = 1, i+j = 3

***

Quiz2

สร้าง list
[[1], [1, 1], [1, 1, 1], ..., [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [ ]:
a = []
for i in range(10):
    b = []
    for j in range(i+1):
        x = 1
        b.append(x)
    a.append(b)
a

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [ ]:
list_ans = []
#print(f'list_ans = {list_ans}')
for i in range(1,11) :
    temp = []
    for j in range(i) :
        temp.append(1)
    #print(f' i = {i}  -->  temp = {temp}')
    list_ans.append(temp)
    #print(f' i = {i}  -->  list_ans = {list_ans}')
print(list_ans)

[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

***

Quiz3

สร้าง list
[[1], [1, 2], [1, 2, 3], ..., [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [ ]:
list_ans = []
#print(f'list_ans = {list_ans}')
for i in range(1,11) :
    temp = []
    for j in range(i) :
        temp.append(j+1)
    #print(f' i = {i}  -->  temp = {temp}')
    list_ans.append(temp)
    #print(f' i = {i}  -->  list_ans = {list_ans}')
print(list_ans)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

***

## Conditional Statement (if stagement)

```
if เงื่อนไขที่เราจะตรวจสอบ ( โดยอาศัยสัญลักษณ์ ==, !=, <, >, <=, <=, in, is_null() ) :
    ถ้าเงื่อนไขเป็นจริง ทำสิ่งนี้
    ถ้าเงื่อนไขเป็นจริง ทำสิ่งนี้
```

In [ ]:
if 1 < 5 :
    print('yes')

yes

กรณีที่มีเงื่อนไขหลายอัน

```
if เงื่อนไขที่เราจะตรวจสอบ ( โดยอาศัยสัญลักษณ์ ==, !=, <, >, <=, <=, in, is_null() ) :
    ถ้าเงื่อนไขเป็นจริง ทำ a1
    ถ้าเงื่อนไขเป็นจริง ทำ a2
elif เงื่อนไขที่จะตรวจสอบต่อไป หากเงื่อนไขด้านบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำ b1
    ถ้าเงื่อนไขเป็นจริง ทำ b2
elif เงื่อนไขที่จะตรวจสอบต่อไป หากเงื่อนไขด้านบนไม่เป็นจริง :
    ถ้าเงื่อนไขเป็นจริง ทำ c1
    ถ้าเงื่อนไขเป็นจริง ทำ c2
else :  #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำ d1
    ทำ d2
```

In [ ]:
x = 12

if x < 5 :
    print('yes')
else :
    print('no')

no

***

Example

list_ex = [1, 5, 9, -19, -2, 0]
หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ฟังก์ชัน min (ใช้ for กับ if)

In [ ]:
list_ex = [1, 5, 9, -19, -2, 0]
min_list = list_ex[0]

for i in list_ex :
    if i < min_list :
        min_list = i
print(min_list)

-19

In [ ]:
# เฉลย

list_ex = [1, 5, 9, -19, -2, 0]
min = 10000000
for i in list_ex :
    #print(f' now i = {i}, min = {min}')
    #print(' Staer condition ')
    if i < min :
        #print(f' i < min, update min = {i} ')
        min = i
    #else :
        #print(f' i >= min, not update ')
    #print(' End condition, go to next i ')
print(min)

-19

***

Quiz4

list_ex = [1, 5, 9, -19, -2, 0]
หาค่าที่มากที่สุดใน list_ex โดยไม่ใช้ฟังก์ชัน max (ใช้ for กับ if)

In [ ]:
list_ex = [1, 5, 9, -19, -2, 0]
max_list = list_ex[0]

for i in list_ex :
    if i > max_list :
        max_list = i
print(max_list)

9

***
***

## Function

การสร้างฟังก์ชันเพื่อเอาไว้เรียกใช้ซ้ำ แทนการพิมพ์คำสั่งยาวๆ

```
def ชื่อฟังก์ชัน(input1, input2, ...) :
    งาน xxx
    งาน yyy
    return output
```

หลังรันฟังก์ชัน จะไม่มีการโชว์อะไร (เพราะเก็บฟังก์ชันในเมมโมรี่)

เวลาที่จะเอาไปใช้ (ต้องรันฟังก์ชันให้เรียบร้อยก่อน) ให้ใส่ข้อมูล input และเขียนชื่อฟังก์ชันที่สร้างไว้

ส่วนประกอบสำคัญของฟังก์ชัน

*   input : ตัวแปรที่จะใส่เข้าไป เพื่อใช้ในการคำนวณ
*   process (ต้องมี!!!!) : กระบวนการคำนวณเพื่อหาสิ่งที่ต้องการ
*   output : ผลลัพธ์ที่ต้องการ

#### Example 1 : มีส่วนประกอบครบทั้งสามส่วน

In [1]:
def find_min(list_ex):
    min = 100000000
    for x in list_ex :
        if x < min :
            min = x
    return min

In [2]:
list_A = [1,5,9,-19,-2,0]
find_min(list_A)

-19

#### Example 2 : ไม่มี output

หลังคำนวณจะโชว์ค่าผลลัพธ์มาให้ แต่ไม่สามารถนำไปใช้งานต่อได้

In [3]:
def find_min2(list_ex):
    min = 100000000
    for x in list_ex :
        if x < min :
            min = x
    print(min)

In [4]:
find_min2(list_A)

-19

ข้อแตกต่างระหว่าง Ex1 และ Ex2 คือ Ex1 สามารถเอาตัวแปรมารับค่าได้

In [5]:
x1 = find_min(list_A)

In [6]:
x1

-19

In [7]:
x2 = find_min2(list_A)

-19

In [8]:
x2

---> x2 จะไม่มีค่าอะไรโชว์มาให้เห็น!

### Example 3 : ไม่มี input

กำหนดค่า pi เพื่อใช้งาน

In [9]:
def Pi_val() :
    return 3.1416

In [10]:
r = 10
print(f'พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลาง เท่ากับ {r} คือ {Pi_val()*r*r}')

พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลาง เท่ากับ 10 คือ 314.16

### Example 4 : ไม่มีทั้ง input และ output

In [16]:
def draw_rectangle() :
    print(' ====')
    print('|         |')
    print(' ====')

In [17]:
draw_rectangle()

 ====
|         |
 ====

In [21]:
def draw_hello() :
    print(' ========')
    print('|     Hello      |')
    print(' ========')

In [22]:
draw_hello()

 ========
|     Hello      |
 ========

### Example 5 : ไม่มี process

จะรันไม่ผ่าน เพราะฟังก์ชันต้องมี process เสมอ!!!!

In [23]:
def draw_triangle() :

SyntaxError: ignored

***

### ลักษณะของ input (parameter, argument)

*   จำเป็นต้องใส่ (non-default argument)   : ไม่มีการเซ็ตค่า default เอาไว้
*   ไม่จำเป็นต้องใส่ (default argument)      : มีการเซ็ตค่า default ไว้แล้ว (ใส่เครื่องหมาย = ให้ในส่วน input ของฟังก์ชัน)

** ไม่จำเป็นต้องมีแค่ค่าเดียว

ในการใช้งานฟังก์ชันของคนอื่น (ซึ่งเขาจะพยายามทำให้สมบูรณ์ที่สุด = สามารถปรับแต่งได้) 

บางทีในฟังก์ชันนั้นอาจจะมีหลาย input แต่บางตัวอาจจะกำหนดค่า default มาให้อยู่แล้ว ซึ่งนั่นหมายความว่า เราไม่จำเป็นต้องใส่ค่าให้ตัวแปรนั้น (ในกรณีที่ไม่ใส่ โปรแกรมจะใช้ค่า default)

เพราะฉะนั้นจึงต้องรู้ว่า input ตัวไหนจำเป็นหรือไม่จำเป็นต้องใส่

In [35]:
def draw_rectangle(dbbound=True) :
    if dbbound :
        print(' ======')
        print('||           ||')
        print(' ======')
    else :
        print(' -----------')
        print('|            |')
        print(' -----------')

In [36]:
draw_rectangle()        # ไม่ได้ใส่ input ฟังก์ชันจะเรียกใช้ค่า defalut

 ======
||           ||
 ======

In [37]:
draw_rectangle(True)

 ======
||           ||
 ======

In [38]:
draw_rectangle(False)

 -----------
|            |
 -----------

In [39]:
find_min2()     # จะรันไม่ได้ เพราะในฟังก์ชันไม่มีการกำหนดค่า default ให้ input

TypeError: ignored

In [49]:
def draw_rectangle(size, dbbound=True) :      
# input มีหลายตัวได้ และมีผสมระหว่างตัวที่ต้องใส่และไม่จำเป็นต้องใส่ได้ โดยที่เวลาเรียก ให้นำตัวที่ต้องใส่ค่ามาไว้ด้านหน้า!
# เวลาเรียกใช้ จะใส่แบบเรียกลำดับ (ถ้าไม่อยากเรียง ต้องบอกว่า input ไหนเท่ากับอะไร)
    if dbbound :
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else :
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')
## ถ้าไม่อยากเขียนตัวแปร space สามารถใช้เป็น  print(f'|{size*" "}|')  ก็ได้ (ต้องใช้ quote คนละตัว)

In [50]:
draw_rectangle()    #ไม่ใส่ค่า size เลยรันไม่ได้

TypeError: ignored

In [51]:
 draw_rectangle(10,False)

--------------
|          |
--------------

In [53]:
 draw_rectangle(dbbound=True, size=7)

===========
||       ||
===========

In [54]:
 draw_rectangle(False,5)      ##ผลจะออกมาผิด!

====
||||
====

***

Quiz5

วาด function วาดสี่เหลี่ยม โดยให้สามารถกำหนดความยาวและความกว้างได้

แต่ถ้าใส่ parameter ตัวเดียว ให้วาดเป็นสี่เหลี่ยมจัตุรัสที่มีด้านยาวเท่ากับ parameter ที่ใส่

ให้แสดง ความกว้าง x ความยาว ของสี่เหลี่ยม เช่น

```
rext(3,5)
> 3 x 5

rext(7)
> 7 x 7
```

In [72]:
def rext(width, length='L') :
    if length == 'L' :# check if there is only 1 argument
        length = width
    print(f'{width} x {length}')

In [73]:
rext(3,5)

3 x 5

In [74]:
rext(7)

7 x 7

In [75]:
def draw_rext(width, length='L') :       ## ลองวาด
    up = '-'
    space = ' '
    if length == 'L' :
        length = width
    print(f'{width*up}')
    for i in range(1,length+1):
        print(f'|{width*space}|')
    print(f'{width*up}')

In [76]:
draw_rext(3,5)

---
|   |
|   |
|   |
|   |
|   |
---

In [77]:
draw_rext(7)

-------
|       |
|       |
|       |
|       |
|       |
|       |
|       |
-------

***
***