<a href="https://colab.research.google.com/github/NahataiTep/DPDM65/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Import Data

In [4]:
Data = pd.read_csv('/content/drive/MyDrive/DPDM2022/train.csv')
Data

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

In [5]:
Data.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)           object
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan         object
number_of_va          float64
construct_year        float64
model                 float64
sell_price             object
number_of_unit         object
number_of_story        object
number_of_bedroom      object
number_of_bathroom     object
number_of_parking      object
usable_area            object
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [7]:
Data.isnull().any()

Unnamed: 0            False
id                    False
project_name           True
company                True
province               True
district               True
sub_district           True
property_type         False
home improvement       True
renovate               True
public utility         True
land type              True
land wide(m)           True
land long(m)           True
topsoil                True
corner                 True
zip_code               True
zone                   True
alley                  True
street                 True
latitude               True
longitude              True
number_of_rai         False
number_of_ngan        False
number_of_va          False
construct_year         True
model                  True
sell_price             True
number_of_unit         True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
number_of_parking      True
usable_area            True
central_cost           True
direction              True
furniture              True
building_number        True
number_of_building     True
floor_number           True
parking_percentage     True
dtype: bool

#Preprocessing

## จัดการประเภทข้อมูลที่กรอกผิดพลาด

In [8]:
Data['sell_price'] = pd.to_numeric(Data['sell_price'],errors='coerce')
Data['number_of_ngan'] = pd.to_numeric(Data['number_of_ngan'],errors='coerce')
Data['number_of_unit'] = pd.to_numeric(Data['number_of_unit'],errors='coerce')
Data['number_of_story'] = pd.to_numeric(Data['number_of_story'],errors='coerce')
Data['number_of_bedroom'] = pd.to_numeric(Data['number_of_bedroom'],errors='coerce')
Data['number_of_bathroom'] = pd.to_numeric(Data['number_of_bathroom'],errors='coerce')
Data['number_of_parking'] = pd.to_numeric(Data['number_of_parking'],errors='coerce')
Data['usable_area'] = pd.to_numeric(Data['usable_area'],errors='coerce')
Data['land long(m)'] = pd.to_numeric(Data['land long(m)'],errors='coerce')

In [9]:
Data.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [10]:
Data.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,315.000000,251.000000,1.741000e+03,2725.000000,2724.000000,2725.000000,0.0,0.0,2.715000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1807.000000
mean,1362.000000,55.456159,101.519163,4.635122e+06,3.561101,0.698238,44.054606,NaN,NaN,2.837311e+07,187.00000,1.819277,1.587353,1.463732,1.240057,658.507853
std,786.784066,75.585414,118.978390,1.355348e+08,15.905963,4.361887,58.956727,NaN,NaN,7.713639e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8553.396424
min,0.000000,4.000000,2.000000,4.000000e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,12.000000,20.000000,4.000000e+04,0.000000,0.000000,5.000000,NaN,NaN,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,27.500000,41.000000,4.000000e+04,0.000000,0.000000,35.000000,NaN,NaN,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,2043.000000,65.000000,150.000000,4.013000e+04,0.000000,1.000000,66.000000,NaN,NaN,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,NaN,NaN,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

## ตัดข้อมูลที่ไม่ให้ค่า district

In [11]:
Data1 = Data.dropna(subset=['district'])
Data1

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

In [22]:
Data1.isnull().any()

Unnamed: 0            False
id                    False
project_name           True
company                True
province              False
district              False
sub_district           True
property_type         False
home improvement       True
renovate               True
public utility         True
land type              True
land wide(m)           True
land long(m)           True
topsoil                True
corner                 True
zip_code               True
zone                   True
alley                  True
street                 True
latitude               True
longitude              True
number_of_rai         False
number_of_ngan         True
number_of_va          False
construct_year         True
model                  True
sell_price             True
number_of_unit         True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
number_of_parking      True
usable_area            True
central_cost           True
direction              True
furniture              True
building_number        True
number_of_building     True
floor_number           True
parking_percentage     True
dtype: bool

In [23]:
Data1.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2721.000000,314.000000,250.000000,1.741000e+03,2721.000000,2720.000000,2721.000000,0.0,0.0,2.713000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1806.000000
mean,1361.443587,54.827038,100.725240,4.635122e+06,3.549063,0.697794,44.082617,NaN,NaN,2.826654e+07,187.00000,1.819277,1.587353,1.463732,1.240057,656.369707
std,787.162335,74.875461,118.548993,1.355348e+08,15.897485,4.364910,58.973378,NaN,NaN,7.716245e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8555.282402
min,0.000000,4.000000,2.000000,4.000000e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,680.000000,12.000000,20.000000,4.000000e+04,0.000000,0.000000,5.000000,NaN,NaN,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1360.000000,27.250000,41.000000,4.000000e+04,0.000000,0.000000,35.000000,NaN,NaN,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,2043.000000,64.750000,149.500000,4.013000e+04,0.000000,1.000000,66.000000,NaN,NaN,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,NaN,NaN,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

***

#11/11/2022

1. ตัดข้อมูล number_of_rai, number_of_ngan, number_of_va, sell_price
2. ตัดข้อมูล missing ออก
3. สร้างข้อมูล area จากสามข้อมูลแรก
4. ใช้ linear regression ในการประมาณค่า sell_price

In [12]:
#ข้อ 1
Data2 = Data1.iloc[:,[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False]]
Data2

      number_of_rai  number_of_ngan  number_of_va  sell_price
0               0.0             0.0          98.4   2860000.0
1               3.0             0.0          72.0  17490000.0
2               0.0             0.0          52.0   2800000.0
3               0.0             0.0          40.0   2600000.0
4               0.0             0.0          50.0   1490000.0
...             ...             ...           ...         ...
2720            0.0             0.0         135.0  12500000.0
2721           11.0             2.0          25.0   8671875.0
2722            0.0             0.0          58.0   1400000.0
2723            0.0             0.0          78.0   2915000.0
2724            0.0             0.0          32.0   1045000.0

[2721 rows x 4 columns]

In [13]:
# ข้อ 2
Data2 = Data2.dropna()
Data2

      number_of_rai  number_of_ngan  number_of_va  sell_price
0               0.0             0.0          98.4   2860000.0
1               3.0             0.0          72.0  17490000.0
2               0.0             0.0          52.0   2800000.0
3               0.0             0.0          40.0   2600000.0
4               0.0             0.0          50.0   1490000.0
...             ...             ...           ...         ...
2720            0.0             0.0         135.0  12500000.0
2721           11.0             2.0          25.0   8671875.0
2722            0.0             0.0          58.0   1400000.0
2723            0.0             0.0          78.0   2915000.0
2724            0.0             0.0          32.0   1045000.0

[2712 rows x 4 columns]

In [14]:
# ข้อ 3
Area = Data2['number_of_rai']*400 + Data2['number_of_ngan']*100 + Data2['number_of_va']
Area

0         98.4
1       1272.0
2         52.0
3         40.0
4         50.0
         ...
2720     135.0
2721    4625.0
2722      58.0
2723      78.0
2724      32.0
Length: 2712, dtype: float64

In [16]:
# ข้อ 4

from sklearn.model_selection import train_test_split

X = Area
y = Data2['sell_price']

# splitting X and y into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=1, shuffle=True)
X_train = X_train.values.reshape(-1, 1)
y_train = y_train.values.reshape(-1, 1)
X_test = X_test.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1) 

from sklearn import linear_model
import statsmodels.api as sm

regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

model = sm.OLS(y_train, X_train).fit()
predictions = model.predict(X_test) 

print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.004
Model:                            OLS   Adj. R-squared (uncentered):              0.003
Method:                 Least Squares   F-statistic:                              7.600
Date:                Fri, 11 Nov 2022   Prob (F-statistic):                     0.00589
Time:                        16:55:52   Log-Likelihood:                         -41863.
No. Observations:                1898   AIC:                                  8.373e+04
Df Residuals:                    1897   BIC:                                  8.373e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          8639.0199   3133.756      2.757      0.006    2493.050    1.48e+04
==============================================================================
Omnibus:                     5757.688   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        279052618.827
Skew:                          43.245   Prob(JB):                         0.00
Kurtosis:                    1879.462   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Test

In [17]:
# นำเข้าข้อมูล test
Test1 = pd.read_csv('/content/drive/MyDrive/DPDM2022/test10nov_X.csv')

In [18]:
#แปลงข้อมูล - สร้างข้อมูล Area
AreaT = Test1['number_of_rai']*400+Test1['number_of_ngan']*100+Test1['number_of_va']

In [19]:
X_Test = AreaT
X_Test = X_Test.values.reshape(-1, 1)

In [20]:
predictions = model.predict(X_Test) 
predictions

array([3.37353727e+07, 3.68022248e+06, 2.76448637e+05, 6.47926492e+05,
       0.00000000e+00, 0.00000000e+00, 5.18341194e+05, 8.55262970e+05,
       0.00000000e+00, 6.91121592e+05, 9.52019992e+05, 0.00000000e+00,
       2.07336477e+05, 1.29585298e+06, 9.15736109e+05, 3.41241286e+06,
       4.32814897e+06, 7.17038651e+05, 4.83785114e+05, 1.27166373e+07,
       4.75146094e+05, 4.14672955e+05, 5.44258253e+05, 1.72780398e+06,
       7.25677671e+05, 0.00000000e+00, 0.00000000e+00, 4.40590015e+05,
       4.06206715e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       3.91347601e+06, 1.16626769e+06, 0.00000000e+00, 5.14885586e+06,
       5.30435822e+05, 1.81419418e+07, 3.45560796e+05, 1.58094064e+05,
       0.00000000e+00, 3.92211503e+05, 3.36921776e+05, 5.53571117e+08,
       6.51382100e+07, 8.63901989e+05, 5.52897273e+05, 1.26993592e+06,
       1.90058438e+05, 0.00000000e+00, 9.94351190e+06, 4.49229035e+07,
       2.07336477e+05, 3.87891993e+05, 1.63277476e+06, 5.43394351e+05,
       0.00000000e+00, 5.44258253e+05, 0.00000000e+00, 4.49229035e+05,
       1.72780398e+06, 6.39287472e+05, 1.11443357e+06, 5.44258253e+05,
       1.46863338e+05, 8.55262970e+05, 1.60685770e+06, 2.26342321e+06,
       4.49229035e+05, 1.81419418e+05, 5.73630921e+06, 1.27857494e+05,
       0.00000000e+00, 9.62386816e+05, 9.50292188e+05, 4.30853839e+08,
       1.29585298e+06, 1.72780398e+06, 6.39287472e+05, 1.73989861e+07,
       0.00000000e+00, 5.53579756e+08, 1.46863338e+05, 1.31140322e+06,
       2.22627543e+07, 2.99860381e+07, 3.46424698e+05, 4.92424134e+05,
       1.22933253e+07, 1.72780398e+05, 7.86150810e+05, 1.72780398e+06,
       1.01940435e+06, 2.09064281e+05, 3.45560796e+06, 3.45474406e+07,
       4.49229035e+05, 8.40576636e+05, 1.65005280e+05, 2.33253537e+05,
       1.98697458e+05, 3.45560796e+06, 1.72780398e+05, 5.96092373e+05,
       6.90689641e+06, 8.72541009e+05, 5.35619233e+06, 1.53774554e+06,
       5.70175313e+05, 7.32588887e+05, 5.46504399e+07, 5.52897273e+05,
       1.21516454e+08, 0.00000000e+00, 8.63901989e+05, 0.00000000e+00,
       5.44258253e+05, 6.91121592e+05, 0.00000000e+00, 1.76236006e+06,
       6.31512354e+05, 6.73843552e+05, 1.14035063e+06, 6.39287472e+05,
       4.00850523e+08, 3.37310532e+07, 3.11004716e+05, 2.07336477e+05,
       1.71052594e+05, 4.31950995e+05, 7.53495315e+06, 4.41885868e+07,
       1.46863338e+05, 0.00000000e+00, 0.00000000e+00, 5.32163626e+06,
       1.72780398e+05, 2.71247947e+07, 1.91786242e+06, 2.91134970e+07,
       1.90058438e+05, 1.81419418e+05, 0.00000000e+00, 8.46623950e+05,
       7.51594731e+05, 1.72780398e+05, 1.95414630e+07, 8.63901989e+05,
       8.63901989e+05, 2.93726676e+05, 1.75372104e+06, 1.34319481e+08,
       4.53548544e+05, 7.09263533e+05, 1.15019911e+06, 0.00000000e+00,
       1.38224318e+05, 8.12067870e+06, 9.58931208e+05, 4.45419227e+08,
       5.96956275e+05, 0.00000000e+00, 7.68872771e+05, 0.00000000e+00,
       7.23949867e+05, 9.08911283e+07, 5.61536293e+05, 0.00000000e+00,
       3.12732520e+05, 2.78815728e+07, 0.00000000e+00, 4.75146094e+05,
       4.49229035e+07, 6.73843552e+05, 9.22647325e+07, 1.64141378e+05,
       6.91121592e+06, 1.00212631e+06, 8.63901989e+05, 1.64141378e+05,
       8.63901989e+05, 5.35619233e+06, 1.58957966e+06, 1.13171161e+06,
       6.91121592e+05, 0.00000000e+00, 8.63901989e+05, 8.63901989e+05,
       4.53548544e+05, 4.40590015e+05, 6.01707736e+07, 5.70175313e+05,
       1.72780398e+05, 1.20946279e+05, 2.85087657e+05, 5.96092373e+05,
       1.72780398e+05, 1.04532141e+06, 7.23085965e+05, 4.31950995e+05])

***